.container div {
    
    border: 1px solid red;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 832px;
    height: 832px;
    margin-right:auto;
    margin-left:auto;
    
}

.hover{
    background-color: blue;
}

body {
    background-color: black;
}

h1 {
    color: blue;
}

button {
    background-color: red;
}